<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - VelezBeatriz</title>
</head>
<body>
    <h1>Contacta con nosotros</h1>
    <form action="/contactoVelezBeatriz/" method="POST"> {% csrf_token %}
        <label for="email">Email:</label>
    </br>
        <input type="email" id="email" name="email" required>
    </br>
        <label for="asunto">Asunto:</label>
    </br>
        <input type="text" id="asunto" name="asunto" required>
    </br>
    </br>
        <textarea name="mensaje" id="mensaje" cols="45" rows="15" placeholder="Mensaje...."></textarea>
    </br>
    </br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>